@keyframes sliding {
    0% {
        transform: translateX(100%);
        z-index: 5;
    }

    4% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    24% {
        transform: translateX(-100%);
    }

    25% {
        transform: translateX(100%);
        z-index: 1;
    }
}

@media only screen and (min-width:414px) {
    .grid-s-1 {
        width: calc(100% / 1);
    }

    .grid-s-2 {
        width: calc(100% / 2);
    }

    .grid-s-3 {
        width: calc(100% / 3);
    }

    .grid-s-4 {
        width: calc(100% / 4);
    }

    .grid-s-5 {
        width: calc(100% / 5);
    }

    .grid-s-6 {
        width: calc(100% / 5 * 2);
    }
}

@media only screen and (min-width:768px) {
    .grid-m-1 {
        width: calc(100% / 1);
    }

    .grid-m-2 {
        width: calc(100% / 2);
    }

    .grid-m-3 {
        width: calc(100% / 3);
    }

    .grid-m-4 {
        width: calc(100% / 4);
    }

    .grid-m-5 {
        width: calc(100% / 5);
    }

    .grid-m-6 {
        width: calc(100% / 5 * 2);
    }

    header #logo {
        width: 35%;
    }

    header #logo img {
        margin: 30px 0;
    }

    header menu {
        width: 65%;
        display: block !important;
    }

    header menu ul {
        width: 100%;
        text-align: right;

        background-color: transparent;
    }

    header menu ul li {
        display: inline-block;
    }

    header menu ul li a {
        padding: 0 0.8em;
    }

    header menu ul li a img {
        margin: 30px 0.3em;
    }

    header #logo img {
        width: 30%;
        margin: 30px 0px;
    }

    header #hamburger {
        display: none;
    }

    footer {
        padding: 0.5em;
    }

    /*frontPage*/
    #theme h2 {
        top: calc((100vw / 8 * 3 - 10px) / 3);
    }

    #featured .grid-m-4 {
        height: calc(100vw / 5);
        background-size: cover;
        background-position: center;
    }

    #featured .grid-m-4 .push {
        line-height: calc(100vw / 5);
    }

    /*login*/
    .container section .box {
        width: 400px;
        min-height: 350px;
        margin: 30px 0;
    }

    .container section .box form h2 {
        font-size: 24px;
        letter-spacing: 5px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .container section .box form .inputBox {
        width: 80%;
    }

    .container section .box form input[type="submit"] {
        width: 200px;
        height: 35px;
        margin-left: 120px;
        margin: 0 80px 20px 80px;
        margin-top: 10px;
    }

    .container section .box form p {
        font-size: 16px;
        margin-right: 20px;
    }

    /*SignUp*/
    #signBut {
        width: 240px;
        height: 35px;
        margin: 30px 200px 20px 48px;
    }

    .container sectionF {
        width: 70%;
    }

    .container section .box form #SignUpSelect {
        width: 320px;
        height: 3em;
    }

    #ManagerFrontPage #ManagerFrontSize {
        width: 70%;
    }

    #ManagerFrontPage #ManagerFrontSize fieldset .tab .tab-content-1 .tableDiv {
        width: 90%;
    }
    #ManagerFrontPage #ManagerFrontSize fieldset .tab .tab-content-4 .tableDiv {
        width: 90%;
    }
    #ManagerFrontPage #ManagerFrontSize fieldset .tab .tab-content-2 .tableDiv {
        width: 90%;
    }
    #ManagerFrontPage #ManagerFrontSize fieldset .tab .tab-content-3 .tableDiv {
        width: 90%;
    }
    #ManagerFrontPage #ManagerFrontSize fieldset .tab .tab-content-1 .tableDiv input {
        margin: 2px auto;
        padding: 3px;
        font-size: 15px;
    }
    #ManagerFrontPage #ManagerFrontSize fieldset .tab .tab-content-4 .tableDiv input {
        margin: 2px auto;
        padding: 3px;
        font-size: 15px;
    }
    th,
    td {
        letter-spacing: 1px;
        font-size: 15px;
    }
/*3*/
    #ManagerThirdPage #ManagerThirdSize {
        width: 30%;
        padding: 20px;
    }

    .ManagerThirdPage .ManagerThirdSize .textDiv input {
        height: 100%;
        border-bottom: 1.5px #5d5d5d solid;
    }

    .ManagerThirdPage .ManagerThirdSize .textDiv {
        width: 95%;
    }

    .ManagerThirdPage .ManagerThirdSize .buttonDiv input {
        padding: 8px 10px;
        margin: 0 5px;
    }

    .ManagerThirdPage .ManagerThirdSize .textDiv p {
        font-size: 16px;
    }
}


@media screen and (min-width:1024px) {
    .grid-l-1 {
        width: calc(100%/1);
    }

    .grid-l-2 {
        width: calc(100%/2);
    }

    .grid-l-3 {
        width: calc(100%/3);
    }

    .grid-l-4 {
        width: calc(100%/4);
    }

    .grid-l-5 {
        width: calc(100%/5);
    }

    .grid-l-6 {
        width: calc(100%/5*2);
    }

    #SubmissionQuerySize {
        width: 80%;
    }

    #SubmissionQuerySize fieldset {
        width: 80%;
    }


}

@media only screen and (min-width:1366px) {
    .grid-xl-1 {
        width: calc(100%/1);
    }

    .grid-xl-2 {
        width: calc(100%/2);
    }

    .grid-xl-3 {
        width: calc(100%/3);
    }

    .grid-xl-4 {
        width: calc(100%/4);
    }

    .grid-xl-5 {
        width: calc(100%/5);
    }

    .grid-xl-6 {
        width: calc(100%/5*2);
    }
}